name: Update Version File
on:
    push:
        paths:
            - "app_foreign_writing/data/data.json" # 트리거 경로 수정

permissions:
    contents: write

jobs:
    extract-version:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Extract version to txt
              run: |
                  # 변수로 경로 지정 (유지보수 용이)
                  TARGET_DIR="app_foreign_writing/data"

                  # 같은 위치에 version.txt 생성
                  jq -r '.version' "$TARGET_DIR/data.json" > "$TARGET_DIR/version.txt"

            - name: Commit and Push
              run: |
                  git config user.name "github-actions[bot]"
                  git config user.email "41898282+github-actions[bot]@users.noreply.github.com"

                  # 생성된 파일만 스테이징
                  git add app_foreign_writing/data/version.txt

                  git commit -m "Update app_foreign_writing version.txt [skip ci]" || echo "No changes to commit"
                  git push
